body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(50, 61, 71);
}

.inner-container {
    margin-top: -40px;
}

.weather-info {
    margin-right: 20px;
}

.min-max {
    text-align: right;
    margin-top: 70px;
    margin-right: 0px;
    text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.6);
}

.box-container {
    background-color: rgb(50, 80, 80);
    border-radius: 20px;
    padding: 20px;
    margin-top: -35px;
}

.outerbox-container {
    border-radius: 30px;
    background-color: #16262e;
    margin-top: 200px;
    padding: 50px;
    color: white;
    height: 220px;
    text-align: right;
}

.temp-h1 {
    text-align: right;
    color: #dbffdb;
    margin-right: 35px;
    margin-top: -20px;
    font-size: 70px;
}

.feels-like-h3 {
    text-align: right;
    padding-right: 60px;
    margin-top: -40px;
    font-size: 16px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.place-weather-div {
    text-align: left;
    margin-top: -130px;
    margin-bottom: 50px;
}

.degree-humidity {
    text-align: left;
    margin-left: 20px;
}

.degree-humidity-h3 {
    font-size: 16px;
}

.degree-humidity-h3-text {
    text-align: right;
    margin-right: 20px;
    margin-top: -38px;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    .weather-info {
        margin-right: 20px;
        margin-top: 40px;
    }

    .min-max {
        text-align: center;
        font-size: 16px;
        margin-top: 50px;
        margin-right: 0px;
        text-shadow: 1px 1px 5px rgb(0, 0, 0, 0.6);
    }

    .temp-h1 {
        text-align: center;
        margin-right: 0px;
        margin-top: -20px;
        font-size: 100px;
        color: #dbffdb;
    }

    .feels-like-h3 {
        text-align: center;
        padding-right: 0px;
        margin-top: -60px;
        font-size: 16px;
        text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
    }

    .place-weather-div {
        background-color: #16262e;
        border-radius: 20px;
        gap: -1rem;
        margin-top: 0px;
        margin-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .box-container {
        background-color: rgb(50, 80, 80);
        border-radius: 20px;
        padding: 0px;
    }

    .inner-container {
        margin-top: 0px;
        padding: 15px;
    }

    .outerbox-container {
        border-radius: 20px;
        background-color: #16262e;
        margin-top: 150px;
        padding: 20px;
        color: white;
        height: auto;
        text-align: right;
    }

    .degree-humidity {
        text-align: left;
        margin-left: 0px;
    }

    .degree-humidity-h3 {
        text-align: center;
        font-size: 18px;
    }

    .degree-humidity-h3-text {
        text-align: center;
        margin-top: 20px;
        margin-right: 0;
        font-size: 20px;
    }
}
